*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-container{
    background-color: #123456;
    height: 100%;
    width: 100%;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image{
    color:aquamarine;
    margin-left: 3.5rem;
    margin-top: 1.2rem;
    font-weight: bold;

}
.nav-links{
    display: flex;
    justify-content: space-between;
}

.nav-item a{
    color: antiquewhite;
    text-decoration: none;
}

.nav-links{
    gap: 100px;
    list-style: none;
    text-decoration: none;
    margin-right: 3.5rem;
    margin-top: 1.2rem;
}

.CONTACT {
    background-color:blueviolet;
    padding: 3.5px;
    
}

.CONTACT a{
    text-decoration: none;
    color: antiquewhite;
}


.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}


.hero-details{
    margin-left: 50px;
    
}

.hero-title{
    color: red;
    font-size: 50px;
    font-weight: bold;
}

.hero-desc{
    color: aqua;
    margin-top: 25px;
    font-size: 25px;
    font-weight: bold;
}

.hero-image{
    margin-right: 40px;
    border-radius: 50%;
}


.project-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.project-details{
    background-color: blueviolet;
    margin: 4rem;
    padding: 1.2rem;
}

.pro-name{
    margin-left: 10px;
    margin-top: 7px;
}

.project-deploy-link{
    margin-left: 10px;
    margin-top: 5px;
    padding: 8px;
    background-color: red;
    border-radius: 10px;
}

.project-deploy-link a{
    text-decoration: none;
    color: antiquewhite;
}

.project-live-link{
    margin-left: 10px;
    margin-top: 5px;
    padding: 8px;
    background-color: red;
    border-radius: 10px;
}

.project-live-link a{
    text-decoration: none;
    color: antiquewhite;
}

.cont{
    font-size: 40px;
    font-weight: bold;
    color: yellow;
}

.cont h1{
    margin-top: 10px;
    margin-left: 400px;
    
}

.contact-email{
    font-size: 20px;
    font-weight: 800;
}

.contact-email h1{
    margin-top: 25px;
    margin-left: 430px;
    color:aquamarine;
}

.email-link a{
    text-decoration: none;
    color: antiquewhite;
    margin-top: 5px;
    margin-left: 430px;
}

.contact-mobile{
    font-size: 20px;
    font-weight: 800;

}

.contact-mobile h1{
    margin-top: 15px;
    margin-left: 400px;
    color: aquamarine;
}

.mobile-number a{
    text-decoration: none;
    margin-left: 430px;
    margin-top: 5px;
    color: antiquewhite;
    
}

.project-deploy-link:hover{
    background-color: yellowgreen;
}

.project-deploy-link a:hover{
    color: black;
}

.project-live-link:hover{
    background-color:yellowgreen;
}

.project-live-link a:hover{
    color: black;
}


.hero-image img{
    border-radius: 50% 50%;
}

.b-container{
    background-color:#235644;
}


.thank{
    margin-left: 650px;
    margin-top: 45px;
    font-size: 65px;
    font-weight: bold;
    color:red;
}


@media screen and (max-width:768px) {
    .body-container{
        margin: auto;
    }

    .nav-item{
        display: none;
    }

    .hero-section{
        display: flex;
        flex-direction: column;
    }

     .hero-image img{
        margin-top: 2rem;
        margin-left: 1rem;
    } 


    .project-container{
        display: flex;
        flex-direction: column;
    }

    

    .cont{
        margin-left: -22rem;
    }

    .contact-email{
        margin-left: -22rem;
    }

    .email-link{
        margin-left: -25rem;
    }

    .contact-mobile{
        margin-left: -22rem;
    }

    .mobile-number{
        margin-left: -25rem;
    }

    .thank{
        margin-left: 2rem;
    }
}